*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
    section{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }

    .big_box{
        background-color: rgb(40, 36, 36);
        display: flex;
        flex-direction: column;
        width:80%;
        height: 60vh;
        margin:50px auto;
        padding: 20px;
        /* height: 50%; */
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        
    }
            
            .white_box{
                background-color: white;
                display:flex;
                flex-direction: column;
                /* margin-right: 50px; */
                /* margin-bottom: 50px; */
                width: 60%;
                /* height: 45%; */
                padding:80px;
                border-radius: 20px;
                justify-content: center;
                align-items: center;
                max-height: 100vh;
              
                
            }
                
                .heading{
                    display: flex;;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(241, 16,174);
                    width: 100%;
                    padding: 5%;
                    border-radius: 15px;
                    margin-top: -108px;
                   
                }
                h3{
                    font-size: 24px;
                }
                .words {
                    margin-top: 20px;
                    line-height: 1.5;
                    font-size: 15.2px;
                    font-weight: bold;
                    width: 100%;
                    color: #222;
                  }